h1
  | 明細編集
- if @statement.errors.any?
  #error_explanation
    ul
      - @statement.errors.full_messages.each do |message|
        li
          = message
= form_with(model: @statement) do |form|
  div
    = form.label :date
    = form.date_field :date
  div
    = form.label :amount
    = form.number_field :amount, min: 1
  div
    = form.label :summary
    = form.text_field :summary
  div
    = form.label :paid_by
    = form.select :paid_by, [["妻", "wife"], ["夫", "husband"], ["共用口座", "shared_account"]]
  div
    = form.label :charged_to
    = form.select :charged_to, [["妻", "wife"], ["夫", "husband"], ["共用", "shared"]]
  div
    = form.submit
p
  = link_to "戻る", statements_path(year: @statement.date.year, month: @statement.date.month)
