doctype html
html
  head
    title
      = content_for(:title) || "Shared Expense Manager"
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    meta[name="apple-mobile-web-app-capable" content="yes"]
    meta[name="mobile-web-app-capable" content="yes"]
    link[rel="preconnect" href="https://fonts.googleapis.com"]
    link[rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""]
    link[rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&display=swap"]
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    - # Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
    - #= tag.link rel: "manifest", href: pwa_manifest_path(format: :json)
    link[rel="icon" href="/icon.png" type="image/png"]
    link[rel="icon" href="/icon.svg" type="image/svg+xml"]
    link[rel="apple-touch-icon" href="/icon.png"]
    - # Includes all stylesheet files in app/assets/stylesheets
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  body
    .global-nav-wrapper
      nav.global-nav
        - d = latest_statement_month
        = link_to "明細入力", new_statement_path
        = link_to "明細一覧", statements_path(year: d.year, month: d.month)
        = link_to "精算結果", settlement_path(year: d.year, month: d.month)
    .body
      - if flash[:notice]
        .flash.flash-notice= flash[:notice]
      - if flash[:warning]
        .flash.flash-warning= flash[:warning]
      - if @confirmed_month_warning
        .flash.flash-warning= @confirmed_month_warning
      = yield
